.feed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.feed main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--min-header-height));
  justify-content: center;
  min-width: 864px;
}

.feed main > div {
}

.feed main > div > div:first-child {
  /* background-color: green; */
}

.feed main > div > div:nth-child(2) {
  /* background-color: yellow; */
  max-width: 412px;
  padding: 1rem 3rem;
}
