.header {
  min-height: var(--min-header-height);
}

.header h4[role="title"] {
  margin-right: 6px;
}

.header section,
.header span {
  align-items: center;
  display: flex;
}

.header svg {
  height: 16px;
  margin-right: 4px;
  width: 16px;
}
