.list {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 1rem;
}

.list button > svg {
  margin: 0;
}

.list header {
  min-height: fit-content;
}

.list span[role="buttons"] button:first-child {
  margin-right: 4px;
}
