.navBar {
  display: grid;
  gap: 1.6rem;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-area: 1/1/2/5;
}

.navBar span[role="buttons"] {
  display: flex;
  grid-area: 1/4/2/5;
  justify-content: flex-end;
}

.navBar span[role="buttons"] button {
  margin: 0 4px;
}

.navBar span[role="buttons"] button:last-child {
  margin-right: 0;
}
