.selected {
  align-items: center;
  border: 1px solid #e6ecf0;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  padding: 0.3rem 0.6rem 0.3rem 0.5rem;
  min-width: max-content;
}

.selected h5 {
  min-width: fit-content;
}
